* {
 /*font-family: Goudy Bookletter 1911, sans-serif;*/
}

html {
	background: #F4ECD8;b
}

/*body {
	min-width: 1300px;
}*/

.samples,
.list {
	font-size: 40px;
	margin-left: 50px;
	font-family: tahoma;
}

.list > li > a,
.list > li > ul > li > a {
	text-decoration: none;
	color: black;
}

.samples > li > ul > li > a:hover,
.samples > li > a:hover,
.list > li > ul > li > a:hover,
.list > li > a:hover {
	font-size: 46px;
	font-weight: bolder;
	color: darkred;
	transition: .3s;
}

/*.cont {
	background: blue;
	height: 550px;
}

ol {
	display: flex;
}*/

h2 {
	font-size: 50px;
}

h2:hover {
	font-size: 46px;
	color: darkblue;
	transition: .3s;	
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 60px;
	font-style: italic;
	color: darkgreen;
}

.cont {
	display: flex;
	width: 100%;
}

@media (max-width: 1150px) {
	.cont {
		display: block;
	}

	.col2{
		left: 0 !important;
		position: relative !important;
	}
}

span {
	font-size: 30px;
	font-style: italic;
}